#header {
  background-color: #ffffff;
  background-image: none;
}

.region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
  color: #1d84c3;
}

.featured-top {
  background: none;
}